@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(gilroy.ttf);
}
* {
  box-sizing: border-box;
  margin: o;
  padding: 0;
}

.bg-image {
  /* background: linear-gradient(
    89.88deg,
    #425a38 5.71%,
    #51784c 57.79%
  ); background-image:
  linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.4)),
  url('./img/hero_cat_dog.png'); */
  background-image: url(./img/main-desktop1.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 768px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
/* .bg-image:before {
  content: "";
  position: absolute;
  width: 65%;
  height: 100%;
  background-image: url(./img/bg-green-trans5_ab.png);
  background-size: cover;
  background-position: bottom right;
  background-attachment: fixed; 
  opacity: 1;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-size: 94%;
  background-repeat: no-repeat;
} */
.ff-gilroy {
  font-family: Gilroy-ExtraBold;
}

.flex {
  display: flex;
}

.hero-title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
}
.hero-title span {
  font-size: 5rem;
}
.hero-text-wrap {
  display: flex;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 3.5rem;
}
.hero-title-sub-1 {
  font-size: 2rem;
  color: #fdbb2c;
  width: 84%;
}
.hero-title-sub-2 {
  font-size: 3rem;
  line-height: 0.7;
  letter-spacing: -5px;
}

.col {
  flex-direction: column;
}

.text-wrap {
  max-width: 500px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.advantage:nth-child(2) {
  transition-delay: 200ms;
}

/* 
@media (max-width: 1100px) {
  .bg-image {
    background: linear-gradient(89.88deg, #425a38 5.71%, #51784c 57.79%);
    align-items: flex-start;
    justify-content: center;
    background-position: bottom;
    text-align: center;
    background-size: cover;
    height: 900px;
  }
  .bg-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed; 
    opacity: 1;
    background-repeat: no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 86%;
    background-repeat: no-repeat;
  }
  .hero-text {
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    z-index: 3;
  }
  .hero-title {
    text-align: center;
    font-size: 2rem;
  }

  .text-wrap {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-title > span {
    font-size: 2.5rem;
  }

  .hidden {
    transition: none;
  }
  .hero-title {
    font-weight: 900;
    font-size: 3rem;
  }
  .hero-title-sub-1 {
    font-size: 2rem;
  }
  .hero-title-sub-2 {
    font-size: 6rem;
    line-height: 0.7;
    letter-spacing: -5px;
  }
}
@media (max-width: 500px) {
  .bg-image {
    align-items: flex-start;
    justify-content: center;
    background-position: bottom;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 570px;
  }
  .bg-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./img/bg-green-trans5_ab.png);
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed; 
    opacity: 1;
    background-repeat: no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: 90%;
  }
} */
@media (max-width: 500px) {
  .text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bg-image {
    background-image: url(./img/mobile.png);
    align-items: flex-start;
    justify-content: center;
  }

  .text-wrap {
    margin-top: 2.6rem;
  }

  .hero-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .hero-title span {
    font-size: 3rem;
    text-align: center;
  }

  .hero-title-sub-1 {
    font-size: 1.2rem;
    width: 74%;
    text-align: center;
  }
}
